body {
    font-family: 'Gabriela', serif;
    margin: auto;
    text-align: center;
}

img, object {
     max-width: 100%;
}

hr {
  color: black;
  width: 100%;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
a.responsive {
    color: darkgrey;
}

article {
    margin-bottom: 10%;
}

#wrapper {
  margin: auto;
  text-align: center;
}

img.social {
    width: 50px;
    position: 10px;
}

p.left {
    text-align: left;
}

p.description {
    font-size: 20px;
}

.coloranimation {
  animation: 20s color infinite;
  -webkit-animation: 20s color infinite;
}

@keyframes color {
  0% {
    color: #1531AE;
  }
  25% {
    color: #4962D6;
  }
  50% {
    color: #6f81d6;
  }
  100% {
    color: #23448f;
  }
}
@-webkit-keyframes color {
  0% {
    color: #1531AE;
  }
  25% {
    color: #4962D6;
  }
  50% {
    color: #6f81d6;
  }
  100% {
    color: #23448f;
  }
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  border-style: inset;
  border-width: 1px;
}

div.social:hover {
  background-image: url('../img/arrow_g.png');
  border-left: 2px solid darkgrey;
}

div.social {
    text-align: left;
    background-image: url('../img/arrow_b.png');
    background-size: 40px 20px;
    background-repeat: no-repeat;
    background-position: center right;
    border-left: 2px solid black;
    padding-left: 10px;
}

.left {
    text-align: left;
}

.error {
  color: red;
}

@media screen and (max-width: 800px) {
   #wrapper {
     width: 90%;
     min-width: 0;
   }
}
