<script type="text/template" id="live">
    <h3 class='center'><span class='homeTeam'>{{homeTeam.name}}</span> {{homeTeam.goals}} - {{awayTeam.goals}} <span class='awayTeam'>{{awayTeam.name}}</span></h3>
    <ul data-role="listview" data-inset="true" id='list_live' data-scroll="y" data-theme="c">
    <li data-role='list-divider'>Highlights</li>
    {{#events}}
        <li>
            <p class="ui-li-aside ui-li-desc">min. <strong>{{minute}}</strong></p>
            <h3 class='ui-li-heading'>{{teamName}}</h3>
            <p class="ui-li-desc">{{eventKey}}</p>
            <p class="ui-li-desc"><font style="white-space:normal; font-size: small" >{{description}}</font></p>
        </li>
    {{/events}}
    </ul>
</script>
