<script type="text/template" id="matches_list">
    <ul data-role="listview" data-inset="true" data-divider-theme="a" id='list_matches'>
    {{#finished.fill}}
        <li data-role='list-divider'>Finished</li>
        {{#finished.list}}
            <li>
                <a href='#match?id={{matchId}}'>
                    <img src='../img/{{matchType}}' class="ui-li-icon ui-li-thumb"/>
                    {{homeTeamName}} {{matchHomeGoals}} - {{matchAwayGoals}} {{awayTeamName}}
                </a>
            </li>
        {{/finished.list}}
    {{/finished.fill}}

    {{#ongoing.fill}}
        <li data-role='list-divider'>Ongoing</li>
        {{#ongoing.list}}
            <li>
                <a href='#live?id={{matchId}}'>
                    <img src='../img/{{matchType}}' class="ui-li-icon ui-li-thumb"/>
                    {{homeTeamName}} {{matchHomeGoals}} - {{matchAwayGoals}} {{awayTeamName}}
                </a>
            </li>
        {{/ongoing.list}}
    {{/ongoing.fill}}

    {{#future.fill}}
        <li data-role='list-divider'>Future</li>
        {{#future.list}}
            <li data-icon='alert'>
                <a>
                    <img src='../img/{{matchType}}' class="ui-li-icon"/>
                    <h2 class='ui-li-heading'>{{homeTeamName}} {{matchHomeGoals}} - {{matchAwayGoals}} {{awayTeamName}}</h2>
                    <p class='ui-li-desc'>{{matchDate}}</p>
                </a>
            </li>
        {{/future.list}}
    {{/future.fill}}
    </ul>
</script>
