<script type="text/template" id="match">
	<h3 class='center'><span class='homeTeam'>{{homeTeam.name}}</span> {{homeTeam.goals}} - {{awayTeam.goals}} <span class='awayTeam'>{{awayTeam.name}}</span></h3>
	<p><img src='../img/{{matchType}}'/> <b>{{arena.name}} <img src='../img/weather_{{arena.weather}}.png'/></b>: {{arena.soldTotal}} spectators</p>

	<ul data-role='listview' data-inset="true" id='list_goals' data-theme="c">
		<li data-role='list-divider'>Highlights</li>
	{{#goals}}
		{{#homeScorer}}
		 	<li class='homeTeam'>
		{{/homeScorer}}
		{{^homeScorer}}
		  	<li class='awayTeam'>
		{{/homeScorer}}
				<img src='../img/goal.png' class="ui-li-icon ui-li-thumb"/>
		  		<p class="ui-li-aside ui-li-desc"><strong>{{scorerMinute}}</strong>min</p>
		  		<h3 class="ui-li-desc"><strong>{{scorerPlayerName}}</strong></h3>
		  		<p class='ui-li-desc'>{{homeGoals}} - {{awayGoals}}</p>
		  	</li>
  	{{/goals}}
  	{{#injuries}}
  		{{#injuryHome}}
  			<li class='homeTeam'>
  		{{/injuryHome}}
  		{{^injuryHome}}
  			<li class='awayTeam'>
  		{{/injuryHome}}
  				<img src='../img/injury_{{injuryType}}.gif' class="ui-li-icon ui-li-thumb"/>
		  		<p class="ui-li-aside ui-li-desc"><strong>{{injuryMinute}}</strong>min</p>
		  		<h3 class="ui-li-desc"><strong>{{injuryPlayerName}}</strong></h3>
		  	</li>
  	{{/injuries}}
  	{{#bookings}}
  		{{#bookingHome}}
  			<li class='homeTeam'>
  		{{/bookingHome}}
  		{{^bookingHome}}
  			<li class='awayTeam'>
  		{{/bookingHome}}
  				<img src='../img/booking_{{bookingType}}.png' class="ui-li-icon ui-li-thumb"/>
		  		<p class="ui-li-aside ui-li-desc"><strong>{{bookingMinute}}</strong>min</p>
		  		<h3 class="ui-li-desc"><strong>{{bookingPlayerName}}</strong></h3>
		  	</li>
  	{{/bookings}}
  	</ul>

  	<table data-role="table" class="ui-responsive" id='ratingsTable'>
	    <tr>
	        <td></td>
	        <th>{{homeTeam.name}}</th>
	        <th>{{awayTeam.name}}</th>
	    </tr>
	    <tr>
	        <th>Mid</th>
	        <td>{{homeTeam.ratings.mid}}</td>
	        <td>{{awayTeam.ratings.mid}}</td>
	    </tr>
	    <tr>
	        <th>DefR</th>
	        <td>{{homeTeam.ratings.defR}}</td>
	        <td>{{awayTeam.ratings.defR}}</td>
	    </tr>
	    <tr>
	        <th>DefM</th>
	        <td>{{homeTeam.ratings.defM}}</td>
	        <td>{{awayTeam.ratings.defM}}</td>
	    </tr>
	    <tr>
	        <th>DefL</th>
	        <td>{{homeTeam.ratings.defL}}</td>
	        <td>{{awayTeam.ratings.defL}}</td>
	    </tr>
	    <tr>
	        <th>AttR</th>
	        <td>{{homeTeam.ratings.attR}}</td>
	        <td>{{awayTeam.ratings.attR}}</td>
	    </tr>
	    <tr>
	        <th>AttM</th>
	        <td>{{homeTeam.ratings.attM}}</td>
	        <td>{{awayTeam.ratings.attM}}</td>
	    </tr>
	    <tr>
	        <th>AttL</th>
	        <td>{{homeTeam.ratings.attL}}</td>
	        <td>{{awayTeam.ratings.attL}}</td>
	    </tr>
	    <tr>
	        <th></th>
	        <td></td>
	        <td></td>
	    </tr>
	    <tr>
	        <th>Ind. D</th>
	        <td>{{homeTeam.ratings.iD}}</td>
	        <td>{{awayTeam.ratings.iD}}</td>
	    </tr>
	    <tr>
	        <th>Ind. A</th>
	        <td>{{homeTeam.ratings.iA}}</td>
	        <td>{{awayTeam.ratings.iA}}</td>
	    </tr>

	    <tr>
	        <th></th>
	        <td></td>
	        <td></td>
	    </tr>
	    <tr>
	        <th>Attitude</th>
	        {{#homeTeam.attitude}}
	        	<td>{{homeTeam.attitude}}</td>
	        {{/homeTeam.attitude}}
	        {{^homeTeam.attitude}}
	        	<td>Unknown</td>
	        {{/homeTeam.attitude}}

	        {{#awayTeam.attitude}}
	        	<td>{{awayTeam.attitude}}</td>
	        {{/awayTeam.attitude}}
	        {{^awayTeam.attitude}}
	        	<td>Unknown</td>
	        {{/awayTeam.attitude}}
	    </tr>

	    <tr>
	        <th></th>
	        <td></td>
	        <td></td>
	    </tr>
	    <tr>
	        <th>Possession</th>
	        <td>{{homeTeam.possession.firstHalf}}% {{homeTeam.possession.secondHalf}}%</td>
	        <td>{{awayTeam.possession.firstHalf}}% {{awayTeam.possession.secondHalf}}%</td>
	    </tr>
	</table>

</script>
